.background-img {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../../assets/warpspeed2.gif");
    /* background-image: url("../../assets/warpspeed2.gif"); */
}